@model List<Brand>
@{
    ViewData["Title"] = "Car Brands";
}

<h1 style="color:blueviolet" >All Car Brands</h1>

<ul>

    @foreach (Brand brand in Model)
    {
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@brand.Id" style="text-decoration:none; cursor:pointer; color:black;">
        <li>@brand.Id. @brand.Name</li></a>
    }
</ul>